{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="mt-5 ml-5" >
    <h1>Admin panel</h1>

    <a class="btn btn-primary btn-large" href="{{ path('experience_index') }}">
        Edit experience
      </a>
      <a class="btn btn-primary btn-large" href="{{ path('formation_index') }}">
        Edit formation
      </a>
      <a class="btn btn-primary btn-large" href="{{ path('skill_index') }}">
        Edit skill
      </a>
</div>
{% endblock %}