{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="mt-5 ml-5">
    <h1>Admin panel</h1>
    <div class="d-flex flex-column">
        <a class="btn btn-primary btn-large btnn" href="{{ path('experience_index') }}">
            Edit experience <i class="fas fa-pen"></i>
        </a>
        <a class="btn btn-primary btn-large btnn" href="{{ path('formation_index') }}">
            Edit formation <i class="fas fa-pen"></i>
        </a>
        <a class="btn btn-primary btn-large btnn" href="{{ path('skill_index') }}">
            Edit skill <i class="fas fa-pen"></i>
        </a>
    </div>
</div>
{% endblock %}